$primary-color: #F2E162;
$secondory-color: #676666;
$font-color: #706960;
$footer-bgcolor: #e5d663;
$text-color: #505050;
$white-color: #FFF;
$black-color: #000;
$border-color: #265781;
$green-color: #52b27b;
$yellow-color: #f2e162;

$poppins: 'Poppins';
$roboto: 'Roboto'; 