
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-call: "\e900";
$icon-facebook-icon: "\e901";
$icon-location: "\e902";
$icon-magnify: "\e903";
$icon-mail: "\e904";
$icon-pinterest: "\e905";
$icon-search: "\e906";
$icon-twitter: "\e907";
$icon-youtube-path1: "\e908";
$icon-youtube-path2: "\e909";
$icon-youtube-path3: "\e90a";
$icon-youtube-path4: "\e90b";
$icon-youtube-path5: "\e90c";
$icon-youtube-path6: "\e90d";
$icon-youtube-path7: "\e90e";
$icon-youtube-path8: "\e90f";
$icon-youtube-path9: "\e910";
$icon-youtube-path10: "\e911";
$icon-youtube-path11: "\e912";
$icon-youtube-path12: "\e913";
